.REcontent {
    background-color: red;
}

.Title {
    background-color: brown;
    text-align: center;
    margin: 2px;
    width: 75vw;
    justify-content: center;
}

.Header {
    background-color: blueviolet;
}