@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500&display=swap');

.ButtonInput:hover {
    cursor: pointer; 
    transform: scale(1.15);
}

.ButtonInput {
    background-color: #5FCAD1;
    border: 0;
    border-radius: 3px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    box-shadow:        
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0.1em 0.2em 0.4em rgba(0,0,0,0.5);
    padding: 8px;
    font-size: 80px;
}