@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500&display=swap');

ul{
    list-style: none;
    padding: 0;
}

.ItemList {
    display: flex;
    font: inherit;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
}

.DivList {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 1.53vh;
    margin-bottom: -1vh;
}

.PList {
    width: 25%;
    text-align: start;
    margin: 0vh;
}

.Title{
    background-color: aqua;
}