@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500&display=swap');

.Content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    width: 60vw;
    min-width: 360px;
    max-width: 800px;
    height: 72vh;
    background-color: aquamarine;
}

.DivTitle {
    height: 5vh;
    width: 58.8vw;
    min-width: 360px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center ;
    text-align: center;
    flex-direction: center;
    margin-top: 2vh;

}

.Title {
    font-weight: 700;
    font-family: 'Lexend Deca';
    font-size: 26px;
}


/*I. Información general*/

.DivSubtitulo {
    height: 4vh;
    width: 58.8vw;
    min-width: 360px;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center ;
    text-align: center;
    flex-direction: center;
    margin-top: 3vh;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: -1px 2px 6px grey;
}

/*Styles Alerta médica*/

.DivInputAlert {
    height: 5vh;
    width: 58.8vw;
    min-width: 360px;
    max-width: 800px;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: flex;
    margin-top: 1vh;
    background-color: violet;

}


.TitleAlert {
    font-family: 'Lexend Deca';
    font-weight: bold;
    text-align: left;
    margin-left: 0.7vh;
    height: 3vh;
    width: 10vw;
    min-width: 150px;
    max-width: 800px;
    max-height: 100%;

}


.InputAlert {
    height: 3vh;
    width: 70vw;
    min-width: 40px;
    max-width: 800px;
    max-height: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.1mm;
    border-color: rgb(153, 152, 152);
    display: flex;
    margin-right: 1vh;
    background-color: #BCACAC;
    font-style: italic;
    box-shadow: -1px 1px 2px grey;
}




/*Surnames-Names Styles*/

.DivInputLine1 {
    height: 7vh;
    width: 58.8vw;
    min-width: 360px;
    max-width: 800px;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 0.5vh;
    background-color: yellow;

}

.DivInputSurnames {
    height: 5vh;
    width: 29.4vw;
    min-width: 360px;
    max-width: 800px;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 0.3vh;
    
}



.TitleFirstSurname {
    font-family: 'Lexend Deca';
    font-style: bold;
    letter-spacing: -0.4mm;
    font-size: 14px;
    text-align: left;
    margin-left: 1vh;
    height: 3vh;
    width: 27vw;
    min-width: 345px;
    max-width: 800px;
    max-height: 100%;
}


.InputFirstSurname {
    height: 3vh;
    width: 9vw;
    min-width: 80px;
    max-width: 800px;
    max-height: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.1mm;
    border-color: rgb(153, 152, 152);
    display: flex;
    align-content: center;
    margin-left: -73%;
    background-color: #BCACAC;
    font-size: 11px;
    font-style: italic;
    box-shadow: -1px 1px 2px grey;
}

.TitleSecondSurname {
    font-family: 'Lexend Deca';
    font-style: bold;
    letter-spacing: -0.4mm;
    font-size: 14px;
    text-align: left;
    margin-left: 1vh;
    height: 3vh;
    width: 22vw;
    min-width: 360px;
    max-width: 800px;
    max-height: 100%;
}


.InputSecondSurname {
    height: 3vh;
    width: 9vw;
    min-width: 80px;
    max-width: 800px;
    max-height: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.1mm;
    border-color: rgb(153, 152, 152);
    display: flex;
    align-content: center;
    margin-left: -72%;
    margin-right: 1vh;
    background-color: #BCACAC;
    font-size: 11px;
    font-style: italic;
    box-shadow: -1px 1px 2px grey;
}

.DivInputNames {
    height: 5vh;
    width: 29.4vw;
    min-width: 360px;
    max-width: 800px;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 0.5vh;

}

.TitleFirstName {
    font-family: 'Lexend Deca';
    font-style: bold;
    letter-spacing: -0.5mm;
    font-size: 14px;
    text-align: left;
    margin-left: 1vh;
    height: 3vh;
    width: 27vw;
    min-width: 345px;
    max-width: 800px;
    max-height: 100%;  
}


.InputFirstName {
    height: 3vh;
    width: 9vw;
    min-width: 80px;
    max-width: 800px;
    max-height: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.1mm;
    border-color: rgb(153, 152, 152);
    display: flex;
    align-content: center;
    margin-left: -73%;
    background-color: #BCACAC;
    font-size: 11px;
    font-style: italic;
    box-shadow: -1px 1px 2px grey;
}

.TitleSecondName {
    font-family: 'Lexend Deca';
    font-style: bold;
    letter-spacing: -0.4mm;
    font-size: 14px;
    text-align: left;
    margin-left: 1vh;
    height: 3vh;
    width: 22vw;
    min-width: 360px;
    max-width: 800px;
    max-height: 100%;  
}


.InputSecondName {
    height: 3vh;
    width: 9vw;
    min-width: 80px;
    max-width: 800px;
    max-height: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.1mm;
    border-color: rgb(153, 152, 152);
    display: flex;
    align-content: center;
    margin-left: -71%;
    margin-right: 0.8vh;
    background-color: #BCACAC;
    font-size: 11px;
    font-style: italic;
    box-shadow: -1px 1px 2px grey;
}

@media screen and (max-width: 1200px) {
    .DivInputLine1{
        flex-wrap: wrap;
    }
}


/*Tipo y #ID - FNto - Edad Styles*/

.DivInputLine2 {
    height: 9vh;
    width: 58.8vw;
    min-width: 360px;
    max-width: 800px;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-top: 0.5vh;
    background-color: red;

}



@media screen and (max-width: 576px) {
  body {
    background-color: lightgreen;
  }
}
